<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" routerLink="/">
        <i class="fab fa-deploydog fa-3x"></i>
    </a>
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" id="dd" routerLink="/">{{ title }}</a>
        </li>
    </ul>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav" *ngIf="identity">
            <li class="nav-item">
                <a class="nav-link" routerLink='home' routerLinkActive='active'>Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/muro' routerLinkActive='active'>Muro</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/perros' routerLinkActive='active'>Perros</a>
            </li>
            <li class="btn btn-outline-secondary">
                <a [routerLink]="['/perfil', identity._id]">Publicar</a>
            </li>
        </ul>

        <ul class="nav navbar-nav ml-auto" *ngIf="!identity">
            <li class="nav-item">
                <a class="nav-link" routerLink='/login' routerLinkActive='active'>Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink='/registro' routerLinkActive='active'>Registro</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto" *ngIf="identity">
            <img src="{{ url + 'get-image-user/' + identity.image }}" *ngIf="identity && identity.image">
            <li class="nav-item dropdown dropleft">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    {{ identity.dogname.toUpperCase() }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/perfil', identity._id]">Mi perfil</a>
                    <a class="dropdown-item" routerLink="mis-datos">Mis datos</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logout()">Cerrar sesión</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
