.navbar-expand-sm {
    width: 100%;
}


.fab fa-deploydog fa-3x {
    color: white;
}

#dd {
    font-weight: bold;
    font-size: 30px;
}

img {
    width: 45px;
    height: 45px;
    border-radius: 100px;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 2px;
}

.btn-outline-secondary {
    margin-left: 3rem;
    width: 10rem;
}

.btn-outline-secondary a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}