<div class="card" style="width: 12rem;">
    <img class="card-img-top" src="{{ url + 'get-image-user/' + identity.image }}" *ngIf="identity.image" alt="Foto de perfil">
    <img class="card-img-top" src="assets/images/user-perro.png" *ngIf="!identity.image" alt="Foto de perfil">
    <div class="card-body">
      <h5 class="card-title">{{ identity.dogname.toUpperCase() }}</h5>
    </div>
 
    <div class="card-body">
      <button type="button" class="btn btn-outline-success">
        <i class="fas fa-redo-alt"></i>
      <span class="verde" class="card-link"> {{ stats.following }}</span>
    </button>
    <button type="button" class="btn btn-outline-danger">
      <i class="fas fa-undo-alt"></i>
      <span class="rojo" class="card-link"> {{ stats.followed }}</span>
    </button>
    </div>
  </div>