<!-- <div class="card" style="max-width: 50%;">
  <img class="card-img-top" src="{{ url + 'get-image-user/' + identity.image }}" *ngIf="identity.image"
    alt="Foto de perfil">
  <img class="card-img-top" src="assets/images/user-perro.png" *ngIf="!identity.image" alt="Foto de perfil">
  <div class="card-body">
    <h5 class="card-title">{{ identity.dogname.toUpperCase() }}</h5>
  </div>

  <div class="card-body">
    <button type="button" class="btn btn-outline-success">
        <i class="fas fa-redo-alt"></i>
        <span> {{ stats.following }}</span>
    </button>

    <button type="button" class="btn btn-outline-danger">
        <i class="fas fa-undo-alt"></i>
        <span> {{ stats.followed }}</span>
    </button>

    <button type="button" class="btn btn-outline-primary">
        <i class="far fa-edit"></i>
        <span> {{ stats.publication }}</span>
      </button>
</div>
</div> -->

<!--Formulario de publicación-->
<div id="new-publication" class="card">
	
	<div class="alert alert-success" *ngIf="status == 'success'">
		Publicación enviada correctamente
	</div>
	<div class="alert alert-danger" *ngIf="status == 'error'">
		Publicación no enviada 
	</div>

	<form #newPubForm="ngForm" (ngSubmit)="onSubmit(newPubForm, $event);" class="col-lg-10">
		<p>
			<label>Escribe una nueva publicación:</label>
			<textarea name="text" #text="ngModel" [(ngModel)]="publication.text" class="form-control" required></textarea>
			<span *ngIf="!text.valid && text.touched">
				El texto de la publicación es obligatorio
			</span>
		</p>

		<p>
			<label class="subir">Sube una imagen: &nbsp;</label>
			<input type="file" placeholder="Subir imagen" (change)="fileChangeEvent($event)"/>
		</p>

		<input type="submit" value="Enviar" class="btn btn-success btn-block" [disabled]="!newPubForm.form.valid" />
	</form>
</div>