.card {
  text-align: center;
  align-items: center;
  background-color: lightgray;
  border-radius: 5%;
}

.card-title {
  font-weight: bold;
}

button {
padding: 5px;
margin-right: 5px;
width: 30%;
}

.card-img-top {
  width: 120px;
}

a {
  font-weight: bold;
}

.card-body {
  display: flex;
  align-items: space-around;
}

.btn-outline-danger {
  margin-left: 1rem;
  margin-right: 1rem;
}

.btn-secondary {
  font-size: 0.5rem;
  font-weight: bold;
  text-align: center;
  text-justify: auto;
  width: 30%;
  height: 70%;
}