header {
    text-align: center;
}

.buttons {
    display: flex;
}

button {
    padding: 10px;
    margin: 0 auto;
    width: 30%;
}

img.imageHome {
    width: 50%;
    border-radius: 100%;

}

img.imageHomeLogin {
    width: 100%;
}

h2 {
    text-align: center;
}

.jumbotron {
    background-color: white;
}