<div class="container">
  <header class="col-md-12" class="jumbotron">

      <h1>{{title}}</h1>
      <p>Red social canina</p>

      <div class="col-md-12" class="container" *ngIf="identity">
        <p class="buttons">
          <button [routerLink]="['/perfil', identity._id]" class="btn btn-outline-primary">
            Perfil
          </button>
          <button routerLink='/muro' routerLinkActive='active' class="btn btn-outline-success">
            Muro
          </button>
          <button routerLink="perros" class="btn btn-outline-danger" routerLink='/perros' routerLinkActive='active'>
            Perros
          </button>
        </p>
      </div>

      <div class="no-identity" *ngIf="!identity">
        <img class='imageHome' src="../../../assets/images/cover_dogdate.png" alt="dogdate">
      </div>

  </header>

  <body class="col-md-12" *ngIf="identity">
    <h2>
      Geolocaliza otros perros para jugar:
    </h2>
    <img class='imageHomeLogin' src="../../../assets/images/perros-portada-geo.png" alt="Geolocaliza otros perros">
  </body>
</div>