// div.container {
//     margin-left: auto;
//     margin-right: auto;
// }

section {
    margin-top: 10px;
    text-align: center;
}

button {
    padding: 5px;
    margin-right: 20px;
    width: 20%;
}

img.imageHome {
    width: 60%;
    border-radius: 90px;
    height: 70%;
}

img.imageHomeLogin {
    width: 100%;
}

h2 {
    text-align: center;
}
