#data-profile {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
}

div.col-lg-6-avatar {
  margin: 0 !important;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
}

img {
  margin-right: 10px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  overflow: hidden;
}

.card-body {
  display: flex;
  align-items: space-around;
}

.btn-outline-danger {
  margin-left: 1rem;
  margin-right: 1rem;
}

.btn-secondary {
  width: 90px;
  margin-top: 1rem;
}

.seguimiento {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

app-sidebar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
}