.flexbox-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ficha {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: outset;
  border-color: lightgray;
  border-radius: 20px 50px;
}

.image-header {
  width: 200px;
  height: 200px;
  padding: 1.5rem;
  margin-bottom: 1rem;
}

img {
  border-radius: 100%;
}

.profile-follow {
  padding: 1rem;
}

.pagination {
  justify-content: center;
}

button a {
  display: inline;
  color: goldenrod;
  font-weight: bold;
  text-decoration: none;
}

.btn-outline-dark {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 2rem;
}