.flexp {
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.ficha {
  display: flex;
}

.image-header {
  width: 30%;
}

.pagination {
  justify-content: center;
}

button a {
  display: inline;
  color: goldenrod;
  font-weight: bold;
  text-decoration: none;
}

.btn-outline-dark {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 2rem;
}